/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 98%);
}

h1 {
  margin-bottom: .5em;
  color: hsl(234, 12%, 34%);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h2 {
  color: hsl(234, 12%, 34%);
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  font-weight: 600;
}

span,
p {
  color: hsl(229, 6%, 66%);
}

p {
  font-size: .75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.row_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 2em 3em 2em;
}

.row_top > p {
  text-align: center;
}

.row_bottom {
  display: flex;
  gap: 1.5em;
}

.col1,
.col3 {
  display: flex;
  align-items: center;
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

}

.team_builder,
.supervisor,
.calculator,
.karma {
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: fit-content;
  background-color: white;
  width: 20em;
  border-radius: .5em;
  box-shadow: 0 .4em .8em .4em hsla(0, 13%, 88%, 0.605);
}

.team_builder {
  border-top: .3em solid hsl(0, 78%, 62%);
}

.supervisor {
  border-top: .3em solid hsl(180, 62%, 55%);
}

.calculator {
  border-top: .3em solid hsl(212, 86%, 64%);
}

.karma {
  border-top: .3em solid hsl(34, 97%, 64%);
}

h2 {
  margin-bottom: .5em;
}

img {
  align-self:flex-end;
  margin-top: 2em;
}

footer {
  position: fixed;
  bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
@media screen and (max-width: 415px) {
  body {
    width: fit-content;
    margin-bottom: 1.5em;
  }

  h1 {
    text-align: center;
    font-size: 1.5em;
  }

  br {
    display: none;
  }
  
  .row_bottom {
    flex-direction: column;
    align-items: center;
  }
}